
<div>
    <header>
        <h1>Chasing The Clicks</h1>
    </header>
    <main>
        <div>
            <button id="add-click">Add a Click!</button>
            <br>
            <p>Total Clicks: <span id="total-clicks">{{clicks.length}}</span></p>
        </div>
    </main>
    <script src="/js/script.js"></script>
</div>
